.header-image { 
  background-size: cover;
  cursor: pointer;
  width: 62px;
  height: 62px;
  padding: 2px;
}
.header-section{
  display: flex;
  padding: 10px;
  margin: 10px;
  gap:10px
}
.header-badge{
  display: flex;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  border-radius: 10px; 
  --box-shadow: 0 8px 8px -6px #aaaaaa; 
  background-color: white;
  border:1px solid #f8f9fa; 
}
.header-left{
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex: 3;
}

.header-title, .header-subtitle{
  color: rgb(77,137,235);
  font-size: 1.5em;
  padding:2px;
  font-weight: bold; 
}
.header-subtitle{
 color: gray;
 font-size: 1em; 
 padding: 2px;
}


.student-card{
  box-shadow: 0 8px 8px -6px #aaaaaa;
  background-color: white;
  border-radius: 10px;
  padding:10px;
  margin-top:20px;
  margin-bottom: 20px;
}
.metric-name{
  font-family: Poppins;
  letter-spacing: 0.36px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  color: var(--unnamed-color-5f6368);
}

.metric-value{
  font-style: normal normal;
  font-family: Poppins;
  font-weight:500;
  line-height: 26px;
  font-size: 18px;
}
