<div class="page-container" @fade >
    <app-profile-header-card name="Meenakshi" heading="Progress" ></app-profile-header-card>
    <div style="margin-top: 35px;">
        <div class="header-badge">
            <div class="header-left">
                <div class="header-title">
                    Saajhedar
                </div>
                <div class="header-subtitle">
                    Congratulations!
                </div>
            </div>
            <div class="header-right">
                <img mat-card-sm-image src="..\assets\images\saajheader_badge.png">
            </div>
        </div>

    </div>

    <div *ngFor="let student of childInfo">
        <mat-card class="student-card">
            <div class="header-section">
                <img mat-card-avatar class="header-image" src="{{student.imageUrl}}" alt="Photo of a Shiba Inu" />
                <mat-card-title-group>
                    <mat-card-title style="font-size: 1.2em; font-weight:600;">{{student.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <span
                            style="font-size: 2.2em; font-weight:800; color:rgb(77,137,235)">{{student.marks[0]+student?.marks[1]+student?.marks[2]+student?.marks[3]+student?.marks[4]}}</span>
                        <span style="font-size: 1.2em; font-weight:600;">/ 50 pts</span>
                    </mat-card-subtitle>

                </mat-card-title-group>
            </div>
            <div class="card">
                <table style="width: 100%; margin-left: 10px;">
                    <ng-container *ngFor="let item of student.metrics, let i = index">
                        <tr>
                            <td *ngIf="i%2==0" style="padding: 5px;">
                                <p class="metric-name">{{getMetricLabel(student.metrics[i].name)}}</p>
                                <p class="metric-value" [style.color]="getMetricColor(student.metrics[i].name)">
                                    {{student.metrics[i]?.value}}/10 pts </p>
                            </td>
                            <td *ngIf="i%2==0 && i < student.metrics.length-1" style="padding: 5px;">
                                <p class="metric-name">{{getMetricLabel(student.metrics[i+1].name)}}</p>
                                <p class="metric-value" [style.color]="getMetricColor(student.metrics[i+1].name)">
                                    {{student.metrics[i+1]?.value}}/10 pts</p>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </mat-card>

    </div>
</div>