<div class="page-container">
    <app-profile-header-card name="Meenakshi" heading="Progress"></app-profile-header-card>
    <div style="margin-top: 35px;">
        <div class="header-badge">
            <div class="header-left">
                <div class="header-title">
                    Saajhedar
                </div>
                <div class="header-subtitle">
                    Congratulations!
                </div>
            </div>
            <div class="header-right">
                <img mat-card-sm-image src="..\assets\images\saajheader_badge.png">
            </div>
        </div>

    </div>

    <div *ngFor="let student of childInfo">
        <mat-card class="student-card">
            <div class="header-section">
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title-group>
                    <mat-card-title style="font-size: 1.2em; font-weight:600;">{{student.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <span
                            style="font-size: 2.2em; font-weight:800; color:rgb(77,137,235)">{{student.marks[0]+student?.marks[1]+student?.marks[2]+student?.marks[3]+student?.marks[4]}}</span>
                        <span style="font-size: 1.2em; font-weight:600;">/ 50 pts</span>
                    </mat-card-subtitle>

                </mat-card-title-group>
            </div>
            <div class="card">
                <table>
                    <tr>
                        <td>
                            <p class="metric-name">EDUCATION</p>
                            <p class="metric-value">{{student?.marks[0]}}/10 pts</p>
                        </td>
                        <td>
                            <p class="metric-name">PHYSICAL WELLBEING</p>
                            <p class="metric-value" style="color:rgb(75,137,220)">{{student.marks[1]}}/10 pts</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="metric-name">EXTRA CURRICULAR</p>
                            <p class="metric-value" style="color:rgb(54,186,154)">{{student.marks[2]}}/10 pts</p>
                        </td>
                        <td>
                            <p class="metric-name">EMOTIONAL WELLBEING</p>
                            <p class="metric-value" style="color:rgb(216,112,173)">{{student.marks[3]}}/10 pts</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="metric-name">NUTRITION</p>
                            <p class="metric-value" style="color:rgb(140,192,81)">{{student.marks[4]}}/10 pts</p>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                <!-- <div class="block_container">
                <div class="bloc1">
                    <p>EDUCATION</p>
                    <p>{{student.marks[0]}}/10 pts</p>
                </div>
                <div class="bloc2">
                    <p>PHYSICAL WELLBEING</p>
                    <p>{{student.marks[1]}}/10 pts</p>
                </div>
            </div>
            <div class="block_container">
                <div class="bloc1">
                    <p>EXTRA CURRICULAR</p>
                    <p>{{student.marks[2]}}/10 pts</p>
                </div>
                <div class="bloc2">
                    <p>EMOTIONAL WELLBEING</p>
                    <p>{{student.marks[3]}}/10 pts</p>
                </div>
            </div>
            <div class="block_container">
                <div class="bloc1">
                    <p>NUTRITION</p>
                    <p>{{student.marks[4]}}/10 pts</p>
                </div>
            </div> -->
            </div>
        </mat-card>
    
    </div>
    <br><br><br><br><br>

</div>