.outline{
    outline: 1px solid white;
    color:white;
    border: none;
    border-radius: 20px;  
}

.radial-gradient {
    background-image: radial-gradient(farthest-corner at 100% 5%,
        rgb(123, 186, 238) 5%, rgb(26, 114, 228) 100%);
  }

  .header-image {
    background-image: url('../../../assets/images/meenakshiRao.png');
    background-size: cover;
    cursor: pointer;
  }

  
div::-webkit-scrollbar {
  width:10px;
  height: 4px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

div::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

  