<div class="page-container">
  <mat-card class="banner">
    <i mat-card-avatar class="material-icons" routerLink = "/more">navigate_before</i>
    <mat-card-content>Back</mat-card-content>
    <div>
        <i mat-card-avatar class="material-icons">information</i>
        <mat-card-content>About</mat-card-content>
    </div>
   
    </mat-card>
    <div >&nbsp;</div>

  <mat-card>
    <mat-card-subtitle>The Commons Platform</mat-card-subtitle>
    <mat-card-content>
      Our mission is to provide quality software as a
    public good. We do this by offering products,
    and services to changemakers, where the
    infrastructure is built, shared & protected by
    all.
    </mat-card-content>
  </mat-card>
  <div >&nbsp;</div>

  <mat-card>
    <mat-card-subtitle>The rise of the Platforms</mat-card-subtitle>
    <mat-card-content>
        Platforms have radically disrupted businesses
        as we know them. Platform companies have
        significantly impacted economies and
        societies, not only by displacing some of the
        world's biggest firms but also by transforming
        our social fabric.
        <div >&nbsp;</div>
        More than 30% of global economic activity
        some $60 trillion - could be mediated by
        digital platforms in six years time. When that
        happens, we envision collectives co-owning
        these platforms to drive population-scale
        change as an alternative to corporation run
        platforms.
    </mat-card-content>
  </mat-card>

</div>