<div class="page-container">
    <app-profile-header-card name="Meenakshi" heading="Let's Explore"></app-profile-header-card>
     <div >&nbsp;</div>
    
        <mat-card>
         <i mat-card-avatar class="material-icons">history</i>
         <mat-card-content>Interaction History</mat-card-content>     
         <i mat-card-avatar class="material-icons" id="right">navigate_next</i>
   
        </mat-card>
        
        <mat-card>
            <i mat-card-avatar class="material-icons">g_translate</i>
            <mat-card-content>Language</mat-card-content>
            <i mat-card-avatar class="material-icons" id="right">navigate_next</i>
        </mat-card>
   
        <mat-card>
            <i mat-card-avatar class="material-icons">sync</i>
            <mat-card-content>Sync Now</mat-card-content>
        </mat-card>
     
        <mat-card>
            <i mat-card-avatar class="material-icons" style="color: red;">exit_to_app</i>
            <mat-card-content>Log Out</mat-card-content>
        </mat-card>
        <mat-card routerLink = "/about">
            <i mat-card-avatar class="material-icons">information</i>
            <mat-card-content>About</mat-card-content>
            <i mat-card-avatar class="material-icons" id="right">navigate_next</i>
        </mat-card>
        <mat-card>
            <i mat-card-avatar class="material-icons">library_books</i>
            <mat-card-content>License</mat-card-content>
            <i mat-card-avatar class="material-icons" id="right">navigate_next</i>
        </mat-card>
   
     

</div>
