.page-container{
    background-color: #f8f9fa;
    margin: 12px;
    padding: 10px;
 
  }
  
  .mat-card-content{
    display: inline-block;
  }
  .mat-card{
      margin-bottom: 3px;
    
    
  }
  .material-icons {
    position: relative;
    top: 6px; 
    
}
#right{
    float: right;
}