<div class="content " fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card class="mat-elevation-z4 radial-gradient rounded-corners">
        <img mat-card-image 
            src={{inData?.imageUrl}}
            alt="Shiba Inu" 
            style="border-radius: 50%; align-items: center; width: 200px; "
         >
         <mat-card-content style="text-align: center;">            
            <p style="color:white; ">{{inData?.name}}</p>             
         </mat-card-content>        
    </mat-card>
</div>