<div class="page-container">
  <app-profile-header-card name="Meenakshi" heading="Community"></app-profile-header-card>
  <div>&nbsp;</div>
  <br>
  <mat-card class="example-add-post">
    <mat-card-header>
      <button (click)="openDialog()">
        <mat-icon>add_box</mat-icon>
      </button>
      <div>
        <mat-card-title>Hi Name</mat-card-title>
        <mat-card-subtitle>Post a question or share something</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>
  <div *ngFor="let post of posts">
    <br>
    <mat-card class="example-posts">
      <mat-card-header>
        <img mat-card-avatar src="{{post.image}}">
        <div class="posts-header-left">{{post.name}}</div>
        <div class="posts-header-right">{{post.updated | date}}</div>
      </mat-card-header>
      <mat-card-content>
        {{post.content}}
      </mat-card-content>
      <mat-card-footer>
        <button *ngIf="checkLiked(post); else notLiked" mat-icon-button (click)="dislike(post)">
          <mat-icon>favorite</mat-icon>
        </button>
        <ng-template #notLiked>
          <button mat-icon-button (click)="like(post)">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </ng-template>
        {{post.count_likes}}likes
        <button mat-icon-button>
          <mat-icon>reply</mat-icon>
        </button>{{post.count_replies}}replies
        <button (click)="toogleTag(post.id)" mat-icon-button>
          <mat-icon>reply</mat-icon>
        </button>Reply
        <div *ngIf="showMe[post.id]">
          <textarea></textarea>
          <br>
          <button>Sumbit</button>
          <button (click)="toogleTag(post.id)">Remove</button>
        </div>
      </mat-card-footer>
    </mat-card>
    <br>
  </div>
  <br><br><br>
</div>